<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTBrown</title>
    <%- include('includes/head.ejs'); %>
</head>
<body>
    <section class="hero is-fullheight is-dark">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="/static/img/logo.png" alt="HTBrown" class="logo">
                <h1 class="title">404</h1>
                <h2 class="subtitle">The URL you were looking for doesn't exist.</h2>
            </div>
        </div>
    </section>
</body>
</html>